*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body
{
    background-color: rgba(53, 86, 100,.9);
}
.downLink
{
   border:2px solid #00D646;
    padding: 7px;
    color: #00D646;
    transition: all 1s;
    border-radius: 8px;
    box-shadow: 0px 0px 35px rgba(0,0,0,.9);
    
}
.downLink:hover
{
  background-color: rgba(0,0,0,.8);  
    color: #00D646;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,.8);
}
.nav14{
    
    font-size: 1.3vw;
    z-index: 1;
}
@media ( max-width : 1007px ) and ( min-width : 500px )
{
  .nav14
    {
        font-size: 13px;
    }
}
.nav14 button
{
    background-color: #00D646;
}

.logo-upper
{
    color:#00D646 ;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2vw;
    position: absolute;
    left: 15px;
    top: 5px;
    animation-name: logo;
    animation-delay: 2s;
    animation-duration: 2s;
    transition: all .2s;
}
@keyframes logo{
    0%{transform: rotate(0deg)}
    100%{transform: scale(1.2,1.2)}
}
.cup
{
    animation-name: cup;
    animation-duration: 4s;
    transition: all 1s;
}
@keyframes cup{
    0%{transform: rotate(0deg)}
    50%{transform: rotate(360deg)}
    100%{transform: scale(1.2,1.2)}
}
.icona:hover
{
color: #00D646;

}

.nav14 a
{
color: #fff;
}
.nav14 li
{
    margin: auto;
}
.home img
{
    width: 100%;
}
.home
{
    position: relative;
    overflow: hidden;
}
.cover
{
     
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    
}
.caption
{
    background-color: rgba(0,0,0,.5);
    text-align: left;
    position: absolute;
    top: 8%;
    left: 14%;
    height: 87%;
    
}
.caption-caption
{
    background-color:rgba(255,255,255,.3);
    font-size: 1.6vw;
    border-radius: 15px;
    align-items: center;
    padding: 3%;
    text-align: center;
    font-family: 'Courgette', cursive;
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 12%;
}
.lap
{
    color: #00D646;
    font-size: 40px;
    
}
.logo
{
    color: #00D646;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
    margin-bottom: 2%;
}
.logo-caption
{
    font-family: 'Poiret One', cursive;
    font-weight: 400;
    margin-top: 5%;
}
.home .fonty
{
    font-family: 'Monoton', fantasy;
    color: #00D646;
    font-size: 6vw;
    margin-left: 50px;
    margin-top: 30px;
    position: relative;
    animation-name: fOne;
    animation-duration: 1s;
}

.fontty
{
    font-family: 'Monoton', fantasy;
    color:#fff ;
    font-size: 5vw;
    text-align: left;
    margin-left: 10%;
    font-weight: 400;
    position: relative;
    animation-name: fTwo;
   animation-duration: 3s;
}
.ms
{
 color: #00D646;
 font-size: 6vw;
}
.abostrof
{
 color: #00D646;   
}
.fonttty
{
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    font-size: 2.2vw;
    text-align:left;
    margin-left: 25px;
    position: relative;
    animation-name: fThree;
    animation-duration: 5s;
    
}
@keyframes fOne
{
    0%{left: 100% }
    100%{left: 0% }
}
@keyframes fTwo
{
    0%{right: 100%}
    50%{right: 5%}
    80%{right: 10%}
    100%{right: 0%}
}
@keyframes fThree
{
    0%{top: 100%}
    50%{top: 100%}
    100%{top: 0%}
}
.sk
{
    font-size: 1.4vw;
}
.menu
{
    margin-top: 70px;
}
.menu-img
{
    transition: all 1s;
    cursor: pointer;
    height: 300px;
    margin-bottom: 40px;
}

.menu-caption
{
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    transition: all 1s;
    font-family: 'Merienda', cursive;
}
.menu-content
{
    overflow: hidden;
    position: relative;
}
.menu-content:hover .menu-caption
{
    top: 50%;
    
}
.menu-content:hover .menu-img
{
    transform: scale(1.2,1.2);
}
.om
{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 60px;
    font-family: 'Fascinate Inline', cursive;
    
}
.omp
{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Fascinate Inline', cursive;
}
.lightBox
{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    z-index: 100;
}
.lightBox-img
{

height: 500px;
background-color: black;
margin-top: 90px;
border-radius: 20px;
background-size: 100% 100%;
}
.menu-layer
{
position: relative;
}
#close
{
    position: absolute;
    top: 3%;
    right: 2%;
    font-size: 20px;
    cursor: pointer;
    color: darkgrey;
    transition: all 1s; 
}
.iclose:hover
{
    transform: scale(1.7,1.7);
    
}
#next
{
    position: absolute;
    top: 50%;
    right: 2%;
    font-size: 20px;
    cursor: pointer;
    color: darkgray;
    transition: all 1s;
}
.inext:hover
{
    transform: scale(1.7,1.7);
    
}
#prev
{
    position: absolute;
    top: 50%;
    left: 2%;
    font-size: 20px;
    cursor: pointer;
    color: darkgray;
    transition: all 1s;
}
.iprev:hover
{
    transform: scale(1.7,1.7);
    
}

#nextin
{
    position: absolute;
    top: 2%;
    right: 50%;
    font-size: 20px;
    cursor: pointer;
    color: darkgray;
    transition: all 1s;
}
.innext:hover
{
    transform: scale(1.7,1.7);
    
}
#previn
{
    position: absolute;
    top: 2%;
    left: 50%;
    font-size: 20px;
    cursor: pointer;
    color: darkgray;
    transition: all 1s;
}
.inprev:hover
{
    transform: scale(1.7,1.7);
    
}
.skills
{
    height: 130%;
    position: relative;
    background-image: url(../image/laptop-1478822_1920.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-bottom: 50px;
}
.layer
{
     
    background-color: rgba(53, 86, 100,.5);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.skills-frame
{
    padding-top:5%;
}

.skill-html
{
    position: relative;
    overflow: hidden;
    padding-top: 12px;
    transition: all 1s;
}
.skill-css
{
    position: relative;
    overflow: hidden;
    padding-top: 12px;
    transition: all 1s;
}

.skill-js
{
    position: relative;
    overflow: hidden;
    padding-top: 12px;
    transition: all 1s;
}
.skill-bs
{
    position: relative;
    overflow: hidden;
    padding-top: 12px;
    transition: all 1s;
}
.skill-jq
{
    position: relative;
    overflow: hidden;
    padding-top: 12px;
    transition: all 1s;
}
.skill-angular
{
    position: relative;
    overflow: hidden;
    padding-top: 12px;
    transition: all 1s;
}
.skill-wordpress
{
    position: relative;
    overflow: hidden;
    padding-top: 12px;
    transition: all 1s;
}
h3
{
    font-size: 16px;
    color: #fff;
    font-family: 'Poiret One', cursive;
}
.skills-caption
{
    text-align: center;
    margin-top: 10%;
    font-family: 'Fascinate Inline', cursive;
    color: #fff ;
}
.skills-caption h1
{
    font-size: 50px;
}
.skills-caption h4
{
    font-size: 30px;
}
.persent-html
{
    position: absolute;
    top: 25%;
    left: 90%;
     animation-name: phtml;
    animation-duration: 5s; 
    color: #fff;
    
}
@keyframes phtml
{
    0%{left: 110%}
    40%{left: 110%}
    100%{left: 90%}
}
.persent-css
{
    position: absolute;
    top: 25%;
    left: 87%;
    animation-name: pcss;
    animation-duration: 5.3s;
    color: #fff;
    
}
@keyframes pcss
{
    0%{left: 110%}
    40%{left: 110%}
    100%{left: 87%}
}
.persent-js
{
    position: absolute;
    top: 25%;
    left: 83%;
    animation-name: pjs;
    animation-duration: 5.7s;
    color: #fff;
    
}
@keyframes pjs
{
    0%{left: 110%}
    40%{left: 110%}
    100%{left: 83%}
}
.persent-bs
{
    position: absolute;
    top: 25%;
    left: 88%;
    animation-name: pbs;
    animation-duration: 5.2s;
    color: #fff;
    
}
@keyframes pbs
{
    0%{left: 110%}
    40%{left: 110%}
    100%{left: 88%}
}
.persent-jq
{
    position: absolute;
    top: 25%;
    left: 79%;
    animation-name: pjq;
    animation-duration: 6.1s;
    color: #fff;
}
@keyframes pjq
{
    0%{left: 110%}
    40%{left: 110%}
    100%{left: 79%}
}
.persent-angular
{
    position: absolute;
    top: 25%;
    left: 76%;
    animation-name: pangular;
    animation-duration: 6.4s;
    color: #fff;
}
@keyframes pangular
{
    0%{left: 110%}
    40%{left: 110%}
    100%{left: 76%}
}
.persent-wordpress
{
    position: absolute;
    top: 25%;
    left: 78%;
    animation-name: pwordpress;
    animation-duration: 6.2s;
    color: #fff;
}
@keyframes pwordpress
{
    0%{left: 110%}
    40%{left: 110%}
    100%{left: 78%}
}
.skill-html:after
{
    content: "";
    padding-left: 60px;
    position: absolute;
    top: 35%;
    left: 15%;
    height: 10px;
    width: 73%;
    background-color: #00D646;
    animation-name: html;
    animation-duration: 4.3s;
    
}
@keyframes html
{
    0%{width: 0% ; opacity: 0}
    50%{width: 0% ; opacity: 0}
    100%{width: 73% ;opacity: 1}
}
.skill-css:after
{
    content: "";
    padding-left: 60px;
    position: absolute;
    top: 35%;
    left: 15%;
    height: 10px;
    width: 69%;
    background-color: #00D646;
    animation-name: css;
    animation-duration: 4.3s;
    
}
@keyframes css
{
    0%{width: 0% ; opacity: 0}
    50%{width: 0% ; opacity: 0}
    100%{width: 69% ;opacity: 1}
}
.skill-js:after
{
    content: "";
    padding-left: 60px;
    position: absolute;
    top: 35%;
    left: 15%;
    height: 10px;
    width: 65%;
    background-color: #00D646;
    animation-name: js;
    animation-duration: 4.7s;
    
}
@keyframes js
{
    0%{width: 0% ; opacity: 0}
    50%{width: 0% ; opacity: 0}
    100%{width: 65% ; opacity: 1}
}
.skill-bs:after
{
    content: "";
    padding-left: 60px;
    position: absolute;
    top: 35%;
    left: 15%;
    height: 10px;
    width: 70%;
    background-color: #00D646;
    animation-name: bs;
    animation-duration: 4.2s;
    
}
@keyframes bs
{
    0%{width: 0% ; opacity: 0}
    50%{width: 0% ; opacity: 0}
    100%{width: 70% ; opacity: 1}
}
.skill-jq:after
{
   content: "";
    padding-left: 60px;
    position: absolute;
    top: 35%;
    left: 15%;
    height: 10px;
    width: 61%;
    background-color: #00D646;
    animation-name: jq;
    animation-duration: 5.1s;
    
}
@keyframes jq
{
    0%{width: 0% ; opacity: 0}
    50%{width: 0% ; opacity: 0}
    100%{width: 61% ;opacity: 1}
}
.skill-angular:after
{
    content: "";
    padding-left: 60px;
    position: absolute;
    top: 35%;
    left: 15%;
    height: 10px;
    width: 58%;
    background-color: #00D646;
    animation-name: angular;
    animation-duration: 5.4s;

}
@keyframes angular
{
    0%{width: 0% ; opacity: 0}
    50%{width: 0% ; opacity: 0}
    100%{width: 58% ; opacity: 1}
}
.skill-wordpress:after
{
    content: "";
    padding-left: 60px;
    position: absolute;
    top: 35%;
    left: 15%;
    height: 10px;
    width: 60%;
    background-color: #00D646;
    animation-name: wordpress;
    animation-duration: 5.2s;
    
}
@keyframes wordpress
{
    0%{width: 0% ; opacity: 0}
    50%{width: 0% ; opacity: 0}
    100%{width: 60% ; opacity: 1}
}
.trgs
{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 30px;
    font-size: 5vw;
    font-family: 'Fascinate Inline', cursive;
    color: #fff;
    
}
.trbs
{
    text-align: center;
   font-size: 3vw; 
    font-family: 'Fascinate Inline', cursive;
    color: #fff;
    
}
.oskills-container
{
    width: 85%;
    margin: auto;
    height: 100vh;
}
.other-skills
{
    width: 65%;
    margin: auto;
    height: 70vh;
}
.trg
{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 5vw;
    font-family: 'Fascinate Inline', cursive;
    color: #fff;
}
.trb
{
    text-align: center;
   font-size: 3vw; 
    font-family: 'Fascinate Inline', cursive;
    color: #fff;
}
.carousel-item img
{
   height: 100%;
    border-radius: 30px;
    object-fit: cover;
}
.carousel-indicators li
{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    
    
}
.contact-talks a
{
    text-decoration: none;
    color: #fff;
}
.contact-talks h3
{
    font-size: 1.5vw;
}
.contact-talks p
{
    color: #fff;
}
.contact-talks
{
    color: #fff;
    font-family: 'Poiret One', cursive;
    padding-top: 12%;
}

.contact-talks h2
{
   font-size: 2vw; 
}
.soc
{
    font-size: 1.5vw;
    
}
.myMail
{
    color: #00D646;
}
.social
{
    position: absolute;
    left: 40%;
    bottom: 5%;
    margin: auto;
    font-size: 1.2vw;

}
.social a
{
    text-decoration: none;
    color: #fff;
}
.fb:hover
{
  color: #3b5998;  
}
.insta:hover
{
  color: #C13584;  
}
.tw:hover
{
  color: #00acee;  
}
.lnk:hover
{
    color: #2867B2;
}
.wapp:hover
{
    color: #25d366;
}
.fb , .insta , .tw , .lnk , .wapp
{
    transition: all .5s;
}

.contact-form
{
    height: 115%;
    width: 80%;
    background-color: #2A3340;
    border-radius: 40px;
    transition: all .5s;
    
}
.cardMe
{
    margin-top: 15%;
    margin-left: 12%;
    transition: all .5s;
    position: relative;
}
.imgMe
{
  width: 100%;
    height: auto;
    border-radius: 10%;

    
    
}
.cocappp
{
    font-size: 1.3vw;
    display: block;
    padding: 10px;
    text-align: center;
    width: 40%;
    margin: auto;
    background: #25d366;
    border-radius: 10px;
    box-shadow: 0px 7px 0px  #009446, 0 7px 25px rgba(255,255,255,.4);
}
.cocappp:active 
{
 box-shadow: 0px 3px 0px #009446, 0 3px 5px rgba(255,255,255,.6);   
    position: relative;
    top: 5px;
}
.thanks
{
    width: 100%;
  position: absolute;
  top: 140%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10%;
  transition: all 1s;
  overflow: hidden;
}
.cardMe:hover .thanks
{
    top: 0%;
}
.captionMe
{
  position: absolute;
    bottom: 7%;
    text-align: center;
    width: 100%;
    background-color: #000;
    
    font-family: 'Poiret One', cursive;
    border-radius: 1%;
    
}

.captionMe p
{
  color: #fff;

font-size: 1.2vw;
}
@media (max-width : 535px ) and (min-width : 500px )
{
    .cardMe
{
    margin-top: 2%;
    
} 
    .contact-talks
    {
        padding-top: 3%;
    }
}
@media (max-width : 767px ) and (min-width : 535px )
{
   .cardMe
{
    margin-top: 2%;
    
} 
    .imgMe
    {
        width: 60%;
    }
    .thanks
    {
       width: 60%; 
    }
}
@media (max-width : 630px ) and (min-width : 300px )
{
   .social
    {
        left: 25%;
    }
}
.contact
{
    position: relative;
    top: -40%;
}
.footer
{
    width: 100%;
    height: 11vh;   
    background-color: #2A3340;
}
.footer p
{
    text-align: center;
    color: #fff;
}
.logo-footer
{
    
color:#00D646 ;
font-family: 'Dancing Script', cursive;
font-size: 2vw;
margin-left: 10px;
}
.mob
{
    color: #00D646 ;
}

/* Set a background color */
.myExp {
    background-image: url(../image/ama-dablam-2064522_1920.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 200vh;
    font-family: 'Poiret One', cursive;
    position: relative;
}
.m8te
{
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: rgba(53, 86, 100,.8);
}

/* The actual timeline (the vertical ruler) */
.timeline {
    
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.contt {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.contt::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #00D646;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .contt {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .contt::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #2A3340 transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
.expCont
{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 30px;
    font-size: 5vw;
    color: #fff;
    font-family: 'Fascinate Inline', cursive;
}
.yearrs
{
    color: #00D646;
    font-size: 1.5vw;
    font-weight: 500;
}
.enwan
{
    color: #2A3340;
    font-size: 1.6vw;
    font-weight: 900;
}
.mohm
{
    color: rgba(53, 86, 100,1);
    font-weight: 600;
    font-size: 1.2vw;
}
